<div class="form-inline">
    <fa-icon [icon]="faGlobe" class="mr-1"></fa-icon>
    <select class="form-control"
            [ngClass]="{'form-control-sm': isSmallSize, 'form-control-lg': isLargeSize}"
            [(ngModel)]="langValue"
            (change)="change($event)">
        <option *ngFor="let l of langOptions" value="{{l.value}}">{{l.text}}</option>    
    </select>
</div>
